@tailwind base;
@tailwind components;
@tailwind utilities;

.dialog-trigger {
  @apply flex flex-row items-center gap-2 hover:cursor-pointer;
}

body {
  opacity: 1;
  background-image: radial-gradient(
    #1a1a1a 1.9000000000000001px,
    #0f0f0f 1.9000000000000001px
  );
  background-size: 70px 70px;
}

.animated-header {
  color: hsl(0, 0%, 28%);
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0,
    hsl(0, 0%, 57%) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
